body {
    background: rgba(65, 13, 1, 0.87);

}
.block {
    display: inline-flex;
    height: 55px;
    background: rgba(12, 0, 65, 0.87);
}

.header {
    display: inline-block;
    justify-content: space-between;
    margin: auto;
    padding: 0 8px;
    box-sizing: border-box;
    height: 42px;
    position: relative;
    width: 100%;
    border-color: rgb(16, 16, 16);
}

div {
    display: inline-block;

}

.logo {
    flex: 1 1 auto;
    justify-content: flex-start;
    display: inline-flex;
    float: left;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

.user {
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    margin-left: 8px;
}