<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}sd {% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="base.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    </head>
    <body>
        <div class="block">
            {% block header %}

                    <div class="header">

                            <a href="{% url 'home' %}"> inicio</a><p>ca</p><p>remix</p>



                        <ul class="user">

                                 {% if user.is_authenticated %}
                                     <p>hola, <b>{{ user.username }}</b> | <a href="{% url 'salir' %}">salir</a></p>
                                 {% else %}
                                     <p><a href="{% url 'login' %}">login</a></p>
                                 {% endif %}

                        </ul>
                    </div>

            {% endblock %}
        </div>
        {% block sidebar %}
        <p>hoa</p>
        {% endblock %}
        {% block content %}
        <h5> </h5>
        {% endblock %}


    </body>
</html>